
    <section class="contactos">
        <section class="borde1"> </section>
        <h1>🌎 DIRECCIóN</h1>
        <h2>Av. La Ecuatoriana y Camilo Orejuela | Quito</h2>
        <h1>✉ EMAIL</h1>
        <h2>brandonpallo@gmail.com</h2>
        <h1>✆ TELÉFONO</h1>
        <h2>+593 3683 920</h2>
        <section class="borde1"> </section>
    </section>