<section class="nosotros">
        <img src="https://www.zapatillasysneakers.com/sites/default/files/static/images/xzapatillas_nike_air_force_1_react_all-star_2021_deportivas.png.pagespeed.ic.nmPdTGB4pO.jpg" alt="" class="imagen">
        <div class="nosotros-texto"> 
            <h2>Acerca de nosotros</h2>
            <h1> ZAPATILLAS SHOP</h1>
            <p>Disponemos de todas las marcas, precios y tallas. Diseños exclusivos.</p>
            <p>Ademas disponemos de nuestra física en el sur de Quito.</p>
            <button id="informacion">Mas Información</button>
        </div>
</section>
<section class="borde1"> </section>