<section class="portada">
        <h2>Las mejores marcas y modelos</h2>
        <h1>ZAPATILLAS SHOP</h1>
        <header>
            <button id="explorar">EXPLORAR</button>
        </header>
    </section>
    <section class="borde1"> </section>