<section class="productos">
        <div class="produc">
            <h2>Revisa</h2>
            <h1>Nuestros Productos</h1>
            <p>Compra zapatillas online. Sneakers ediciones limitadas. Las mejores marcas de zapatillas y moda como Nike, Reebok, Asics, Adidas, New Balance.  </p>
            <button id="inventario">INVENTARIO</button>
        </div>

        {{#producto}}
         {{/producto}}
        
        </div>
</section>
    